@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    --orange: #f6f3f2;
    --light-orange:#fef3e9;
    --dark-orange:#F59D78;
    --red: #e07878;

    --light-yellow: #ffe3ba;
    --yellow: #ffd9a1;
    --dark-yellow: #fbc36e;
    --darker-gray:#5c5c5c;
    --dark-gray: #7a7a7a;
    --gray:#c1c1c19b;
    --light-gray:#e3e3e3;
    --lighter-gray:#F5F5F5;

    --box-color: #FAFAFA;
    --accent-blue: #4DC2D8;
    --accent-orange:#FFA07A;
    --black:#333333;
}
body{
    font-family: "Inter", sans-serif;
    top:0;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    /* background-color: #eeecea; */
    
}
#bg{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    background-color: var(--box-color);
    background-image: url('/imgs/indexBg.png');
    background-size: cover;

}

#navbar {
    display: flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 5vh;
    padding: 2vw 2vw;

    align-items: center;
    mask: linear-gradient(black, black, transparent);
    backdrop-filter: blur(8px);
    z-index:100;
}


#navbar a{
    padding: .5vh 15px;
    margin: 0 .5vw;
    text-align: center;
    font-size: 22px;
    color: var(--dark-gray);
    text-decoration: none;
}
#navbar a:hover{
    color:var(--darker-gray);
}
#navbar a:first-of-type{
    border-radius: 30px;
    box-shadow: 0 2px 5px var(--gray);
}


section{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;

    width:100vw;
    height:100vh;

}
#title-box{
    display:flex;
    position: absolute;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    width:80%;
    height:80%;
    border-radius: 30px ;

    padding: 0 5vw;
    margin: 0 5vw;
}


#title-box img{
    width:100%;
    margin:1vh;
    object-fit: contain;
    text-align: center;
}
#title-box p{
    color:var(--dark-gray);
    margin:0;

    font-size:20px;
    text-align: center;
}
.fa-chevron-down{
    position:absolute;
    bottom: 0;

    font-size: 50px;
    color: var(--accent-orange);
    transition: all .5s ease;

}
.fa-chevron-down:hover{
    scale: 120%;
}
/* #left-box img{
    filter: drop-shadow(2px 2px 5px var(--gray))
            drop-shadow(-2px 2px 5px var(--gray));
} */
#desc-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 95%;
}
.desc-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    width: 25%;
    height: 30vh;
    background-color: var(--box-color);
    box-shadow: 0 3px 5px 2px var(--gray);

    border-radius: 15px;
    padding: 20px;
}
.desc-box i{
    font-size: 50px;
    color: var(--accent-blue);
}
.desc{
    text-align: center;
    font-size: 18px;
    color: var(--darker-gray);
}
#start{
    color: var(--accent-orange);
    font-size: 30px;;
    width: 300px;
    height: 50px;
    margin:20px;
    border: 5px solid var(--accent-orange);
    border-radius: 30px;
    background-color: transparent;
    transition:all 1s;
    text-decoration: none;

    transition: ease;

}
#start:hover{
    border: 5px solid var(--accent-blue);
    color: var(--accent-blue);
}

#widget-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;

    justify-content: center;
    align-items: center;


}

.data-widget{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    
    width: 60%;
    padding: 10px;

    background-color: var(--accent-blue);
    font-size: 20px;
    border-radius: 30px;
    color:var(--box-color);
    font-weight: 400;
    z-index:0;

    box-shadow: 0 3px 5px #3a94a4;

    
}

.data-widget:nth-child(odd) {
    margin-left: -30px;
}
.data-widget:nth-child(even) {
    margin-right: -30px;
}

/*large screens*/
@media (max-width: 1824px){
    
}
/*laptops*/
@media (max-width: 1024px){
    #title-box h1{
        font-size: 85px;
    }
    .desc{
        font-size: 16px;
    }
    .desc-box i{
        font-size: 40px;
    }
    #bg{
        background-size:contain ;
    }
}
/*ipads*/
@media(max-width:768px){ 
    #navbar a{
        font-size: 22px;
        padding: .5vh 2vw;
        margin:0 5px;
    }
    #title-box p{
        font-size: 18px;
    }
    #title-box h1{
        font-size: 75px;
    }
    .desc-box{
        width: 20%;
        height: 20vh;
        border-radius: 15px;
        padding: 20px;
    }
    .desc{
        font-size: 14px;
    }
    .desc-box i{
        font-size: 25px;
    }
}

@media(max-width: 500px){
   
    #desc-container{
        flex-direction: column;
        justify-content: center;
        gap: 5%;
    }
    .desc-box{
        width: 70%;
        height: 10%;
        gap: 10px;
        border-radius: 15px;
        padding: 20px;
    }
}
/*phones*/
@media(max-width: 425px){
    #title-box p{
        font-size: 1.0rem;
    }
    #title-box h1{
        font-size: 4rem;
    }
    #navbar a{
        font-size: 20px;
    }
}

@media(max-width: 375px){
    #title-box p{
        font-size: 16px;
    }
    #title-box h1{
        font-size: 60px;
    }
    #navbar a{
        font-size: 18px;
    }
}
@media(max-width: 320px){
    #title-box p{
        font-size: 10px;
    }
    #title-box h1{
        font-size: 30px;
    }
    #navbar a{
        margin:0 2px;
    }
}