@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    --orange: #febda2;
    --light-orange:#fef3e9;
    --dark-orange:#F59D78;
    --yellow: #ffd9a1;
    --dark-yellow: #fbc36e;
    --dark-gray: #a1a1a1;
    --gray:#c1c1c1;
    --light-gray:#d8d8d8;
}
body{
    font-family: "Inter", sans-serif;
    height:100%;
    padding:0;
    margin:0;
}
#navbar {
    display: flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 5vh;
    padding: 2vw 2vw;

    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    z-index:100;
}


#navbar a{
    padding: .5vh 1vw;
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    color: var(--dark-gray);
    text-decoration: none;
}
#navbar a:hover{
    color:#808080;
}
#navbar a:first-of-type{
    border-radius: 30px;
}


#big-box{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;

    width:100vw;
    height:100vh;
}
#title-box{
    display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100%;
    height:100%;

    padding: 0 5vw;
    
}
#title-box h1{
    text-align: center;
    color: var(--dark-orange);
    font-size: 100px;
    font-weight:400;
    width:100%;
    margin:1vh;
}
#title-box p{
    font-size:30px;
    margin: 0px;
    text-align: center;
}
.waves{
    position:absolute;
    top:0;
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/layered-waves.svg');

    z-index:-1;
}
/*large screens*/
@media (max-width: 1824px){
    
}
/*laptops*/
@media (max-width: 1024px){
    #title-box h1{
        font-size: 85px;
    }
    #title-box p{
        font-size: 24px;
    }
}
/*ipads*/
@media(max-width:768px){ 
    #navbar a{
        font-size: 22px;
        padding: .5vh 2vw;
        margin:0 5px;
    }
    #title-box p{
        font-size: 20px;
    }
    #title-box h1{
        font-size: 75px;
    }
}


/*phones*/
@media(max-width: 425px){
    #title-box p{
        font-size: 1.0rem;
    }
    #title-box h1{
        font-size: 4rem;
    }
    #navbar a{
        font-size: 20px;
    }
}

@media(max-width: 375px){
    #title-box p{
        font-size: 16px;
    }
    #title-box h1{
        font-size: 60px;
    }
    #navbar a{
        font-size: 18px;
    }
}
@media(max-width: 320px){
    #title-box p{
        font-size: 16px;
    }
    #title-box h1{
        font-size: 50px;
    }
    #navbar a{
        margin:0 2px;
    }
}