@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    --orange: #f6f3f2;
    --light-orange:#fef3e9;
    --dark-orange:#F59D78;
    --red: #e07878;

    --light-yellow: #ffe3ba;
    --yellow: #ffd9a1;
    --dark-yellow: #fbc36e;
    --darker-gray:#5c5c5c;
    --dark-gray: #7a7a7a;
    --gray:#c1c1c19b;
    --light-gray:#e3e3e3;
    --lighter-gray:#F5F5F5;

    --box-color: #FAFAFA;
    --accent-blue: #4DC2D8;
    --accent-orange:#FFA07A;
    --black:#333333;
}
body{
    font-family: "Inter", sans-serif;
    height:100%;
    padding:0;
    margin:0;
    background-color: #eeecea;
}
#navbar {
    display: flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 5vh;
    padding: 2vw 2vw;

    align-items: center;
    backdrop-filter: blur(8px);
    z-index:100;
}


#navbar a{
    padding: .5vh 15px;
    margin: 0 .5vw;
    text-align: center;
    font-size: 22px;
    color: var(--dark-gray);
    text-decoration: none;
}
#navbar a:hover{
    color:var(--darker-gray);
}
#navbar a:first-of-type{
    border-radius: 30px;
    box-shadow: 0 2px 5px var(--gray);
}


section{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;

    width:100vw;
    height:100vh;
}
#title-box{
    display:flex;

    justify-content: center;
    align-items: center;

    width:100%;
    height:70%;
    border-radius: 30px 0 0 30px;

    padding: 0 5vw;
    margin-left: 5vw;
    box-shadow: -10px 10px 15px var(--gray);
    background-color:var(--box-color);
}

#right-box{
    display:flex;
    background-color: #eeecea;
    position:relative;

    width:60%;
    height:70%;
    border-radius: 30px;
    box-shadow: inset -10px 10px 15px var(--gray);
}

#title-box h1{
    color: var(--black);
    font-size: 100px;
    font-weight:600;
    width:50%;
    margin:1vh;
}
#log-out{
    color: var(--accent-orange);
    font-size: 30px;;
    width: 180px;
    height: 50px;
    margin:1vh;
    border: 5px solid var(--accent-orange);
    border-radius: 30px;
    background-color: transparent;
    transition:all 1s;
}
#log-out:hover{
    border: 5px solid var(--accent-blue);
    color: var(--accent-blue);
}

#title-box p{
    color:var(--black);
    
    font-size:30px;
    margin: 0px;
    text-align: center;
}

.data-widget{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--accent-blue);
    font-size: 20px;
    border-radius: 50%;
    color:var(--box-color);
    font-weight: 400;
    z-index:0;
}
#w1{
    position:absolute;
    right:5px;
    bottom:10px;
    height: 150px;
    width:150px;
}
#w2{
    position:absolute;
    left:0;
    bottom:0;
    height: 200px;
    width:200px;
}
#w3{
    position:absolute;
    height: 100px;
    width:100px;
    left:100px;
    bottom:200px;
}
#w4{
    position:absolute;
    left:250px;
    top:5px;
    height:250px;
    width:250px;
}
/*large screens*/
@media (max-width: 1824px){
    
}
/*laptops*/
@media (max-width: 1024px){
    #title-box h1{
        font-size: 85px;
    }
    #title-box p{
        font-size: 24px;
    }
}
/*ipads*/
@media(max-width:768px){ 
    #navbar a{
        font-size: 22px;
        padding: .5vh 2vw;
        margin:0 5px;
    }
    #title-box p{
        font-size: 20px;
    }
    #title-box h1{
        font-size: 75px;
    }
}


/*phones*/
@media(max-width: 425px){
    #title-box p{
        font-size: 1.0rem;
    }
    #title-box h1{
        font-size: 4rem;
    }
    #navbar a{
        font-size: 20px;
    }
}

@media(max-width: 375px){
    #title-box p{
        font-size: 16px;
    }
    #title-box h1{
        font-size: 60px;
    }
    #navbar a{
        font-size: 18px;
    }
}
@media(max-width: 320px){
    #title-box p{
        font-size: 16px;
    }
    #title-box h1{
        font-size: 50px;
    }
    #navbar a{
        margin:0 2px;
    }
}