@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: "Inter", sans-serif;
    height:100%;
}
#navbar {
    display:flex;
    position:fixed;
    margin: 3vh 0;
    top:0;
    left:0;
    height: 5vh;

    align-items: center;
}
#navbar a{
    padding: .5vh 1vw;
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    color: black;
    text-decoration: none;
}
#navbar a:last-of-type{
    background-color: #D2DBEC;
    border-radius: 30px;
}