@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* PROBLEM: media queries are not working as intended, tooltip is not perfectly aligned in all scenarios */
*{
    --orange: #febda2;
    --light-orange:#fef3e9;
    --dark-orange:#F59D78;
    --red: #e07878;

    --light-yellow: #ffe3ba;
    --yellow: #FFCD91;
    --dark-yellow: #fbc36e;
    --darker-gray:#5c5c5c;
    --dark-gray: #7a7a7a;
    --gray:#c1c1c19b;
    --light-gray:#e3e3e3;
    --lighter-gray:#efeeee;

    --box-color: #FAFAFA;
    --accent-green: #6AC59C;
    --accent-blue: #4DC2D8;
    --accent-orange:#FFA07A;
    --secondary-orange:#FFB899;
    --black:#333333;
}

body{
    font-family: "Inter", sans-serif;
    height:100%;
    font-size:18px;
    margin:0;
    overflow: hidden;
    background-color: #F4F3F2;
    color:var(--black);
}

#navbar {
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 5vh;
    padding: 2vw 2vw;

    align-items: center;
    background-color: rgba(244, 243, 242, 0.85);
    backdrop-filter: blur(8px);
    z-index:100;

}
#navbar a{
    padding: .5vh 1vw;
    margin: 0 10px;
    text-align: center;
    font-size: 22px;
    color: var(--dark-gray);
    text-decoration: none;
    
}
#navbar a:hover{
    color:var(--darker-gray);
}
#navbar a:nth-of-type(2){
    background-color: var(--accent-blue);
    border-radius: 30px;
    font-weight: 500;
    color:var(--box-color);
    box-shadow: 0 2px 5px var(--gray);
}
#big-box{
    display:flex;
    position:relative;
    width:100%;
    height:100%;

    justify-content: center;
    margin: 12vh 0;
    padding: 2vh 0;
}

.show-box{
    width:90%;
    height:70vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding:5vh 2vw;
    
}
#show-container{
    display: flex;
    justify-content: center;

    position:relative;
    width:50vw;
    border-radius: 30px;
    background-color: var(--box-color);
    box-shadow: 0 5px 10px var(--gray);
}
#show-list{
    width:100%;
    border:none;
}

.text{
    position:relative;
    width:30vw;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.tool-tip{
    position:sticky;
    margin:-300px;
    transform: translate(50%,35%);
    width:300px;
    font-size: 14px;
    background-color: var(--lighter-gray);
    padding:10px;
    z-index:5;
    visibility: hidden;
}
.tool-tip span{
    font-weight: 700;
}
.text:hover + .tool-tip {
    visibility: visible;
}
#show-list tr{
    display:flex;
    align-items: center; 
    height:5vh;
}
#show-list td:first-child{
    font-size: 15px;
    color:var(--gray);
}
#show-list td:nth-child(2){
    display:flex;
    align-items: center;
    width:30vw;
}

#show-list tr:hover{
    background-color: var(--lighter-gray);
}

#show-list td:first-child:hover{
    color:#e07878;
}
.fa-x{
    padding: 10px;
    cursor: pointer;
}
.stars{
    color:var(--yellow);
    font-size: 25px;
    gap: 6px;
}

.unchanging-stars{
    display: flex;
    justify-content: left;
}
.short-stars{
    display:none;
    gap:2px;
}

#right-panel{
    display:flex;
    flex-direction: column;
    position:relative;

    margin-left: 5vw;
}

.box-container{
    place-items: center;
}
#box1.box-container{
    display:flex;
    flex-direction: column;
    height:55%;
    justify-content: start;
}
#box2.box-container{
    display:flex;
    flex-direction: column;
    height:45%;
    justify-content: end;    
}
.right-box{
    display: flex;
    flex-direction: column;
    width: 30vw;

    font-size: 18px;

    background-color: var(--box-color);
    border-radius: 30px;

    z-index:0;
    box-shadow: 0 5px 10px var(--gray);

}

#right-box1{
    height: 40vh;
    justify-content: center;
}
#right-box2{
    height: 30vh;
}

form{
    margin: 5%;
}
.form-row{
    margin: 0 10%;
}
.form-row:nth-child(2){
    display:flex;
    align-items: center;
    padding: 1vh 0;
}
.form-row:first-child{
    display: flex;
}
label{
    font-size: 18px;
    font-family: "Inter", sans-serif;
}
input{
    border-width: 0 0 2px 0;
    margin-left: 10px;
    width:100%;
    color:var(--dark-gray);
}
textarea, input{
    font-size: 18px;
    font-family: inherit;

    background-color: transparent;
    border-color: var(--dark-gray);

}

textarea, input:focus{
    outline:none;
}
textarea{
    resize:none;
    width:100%;
    border-width: 2px;

    border-radius: 15px;

    padding:10px 0 10px 10px;
    margin-top: 1vh;
}
.box-title{
    color:var(--accent-orange);
    font-size: 24px;
    font-weight:500;

    padding: 5px 20px;
    margin-bottom:-25px;
    
    background-color: var(--box-color);
    border-radius: 30px;
    
    outline: none;
    border: 3px solid var(--accent-orange);
    z-index: 1;
    box-shadow: 0 1px 5px var(--gray);

   
    transition: all 1s ease;
    

}
#add{
    cursor:pointer;
}

button:hover{
    color:var(--accent-green);
    border-color: var(--accent-green);
}
#favorite{
    display: flex;
    justify-content: center;
    font-size: 16px;

    margin-top: 1vh;

}
#favorite button{
    padding:0;
    margin: 0 10px;
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: all .2s ease;
}
#favorite button:hover{
    text-decoration: underline;
    color:var(--dark-orange)
}

#review{
    display: flex;
    flex-direction: column;
}
#star-rating{
    display: flex;
    justify-content: space-evenly;
    margin: 0 5px;
    flex-direction: row-reverse;
    font-weight:900;
    color: var(--gray);

    width:100%;
    align-items: center;
}
#star-rating i:hover,i:hover ~i{
    cursor:pointer;
}
#star-rating i:active,i:active ~i{
    color: var(--yellow);
}

.heart-favorite{
    height:30px;
    margin:0 5px ;
    vertical-align: middle;
}

#favorite-list{
    margin:10%;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;

}
#favorite-list li{
    padding: 1vh 0;
    margin-left:0;
}
#favorite-list li:hover{
    color: var(--dark-orange);
    cursor:pointer;
}


/* ---------------------------------------------------------------------------------------------------*/

/* @media (min-width:800px){ */
    @media(max-height: 730px){
        body{
            overflow-y: auto;
        }
        #big-box{
            flex-direction: column;
            align-items:center;
            
        }
        #show-container{
            margin: 2vh 0;
            display: flex;
            justify-content: center;
            width:65vw;
        }
        #show-list{
            width:100%;
        }
        .text{
            width:40vw;
        }
        .show-box{
            width:90%;
        }

        #right-panel{   
            display:flex; 
            flex-direction: row;
            margin: 10vh 0;
            gap:5vw;
        }
        #right-box1{
            width:35vw;
            height: 50vh;
        }
        #right-box2{
            width:35vw;
            height: 50vh;
        }
    }
    @media(max-height:600px){
        #right-panel{   
            margin: 5vh 0 0;
        }
        .right-box{
            padding: 5vh 0;
        }
    }
    @media(max-height:500px){
        #right-box1{
            height: 60vh;
        }
        #right-box2{
            height: 60vh;
        }
    }
    @media(max-height:410px){
        #right-box1{
            height: 80vh;
        }
        #right-box2{
            height: 80vh;
        }
    }
/* } */

/* xL */
@media (min-width: 1600px){
    #show-list{
        font-size: 24px;
    }

    .stars{
        font-size: 33px;
        gap: 12px;
    }
    #show-list td:first-child{
        font-size: 24px;
    }
    .right-box{
        font-size: 24px;
    }
    label{
        font-size: 24px;
    }
}
/* L */
@media (max-width: 1224px){
    #show-list{
        font-size: 18px;
    }
    .text{
        width:30vw;
    }
    .stars{
        font-size: 22px;
    }
}

@media (max-width: 1024px){
   
    .stars{
        font-size: 20px;
        gap: 5px;
    }
    .right-box{
        font-size: 18px;
    }
    label{
        font-size: 18px;
    }
    .text{
        width:30vw;
    }

}

/* s */
@media(max-width:768px){ 
    body{
        overflow-y: auto;
    }
    
    #navbar a{
        font-size: 22px;
        padding: .5vh 2vw;
        margin:0 5px;
    }
    #show-container{
        width:85vw;
    }
    #show-list td:last-child{
        width:10vw;
    }
    .stars{
        font-size: 25px;
        gap: 8px;
    }
    .text{
        width:40vw;
    }

    #big-box{
        flex-direction: column;
        align-items: center;
    }

    #right-panel{    
        margin-top: 10vh;
        margin-left: 0;
    }
    .right-box{
        width: 65vw;
        margin-bottom: 5vh;
        font-size: 20px;
    }
    #right-box1{
        height: 50vh;
    }
    #right-box2{
        height: 40vh;
    
    }
    label{
        font-size: 20px;
    }
    #favorite{
        font-size: 18px;
        }
    .box-title{
        font-size: 30px; 
    }
   

}
/* xs */
@media(max-width: 580px){

    #favorite{
        font-size: 16px;
        }
    .box-title{
        font-size: 25px; 
    }
    .right-box{
        width: 80vw;
        font-size: 16px;
    }

    label{
        font-size: 16px;
    }
    .unchanging-stars{
        display:none;
    }
    .short-stars{
        display:flex;
        font-size: 20px;
    }

    #show-list td:last-child{
        width:5vw;
    }
    .text{
        width:50vw;
    }

}

@media(max-width: 425px){
    #navbar a{
        font-size: 20px;
    }
}

@media(max-width: 375px){
    #navbar a{
        font-size:18px;
    }
    #show-list{
        font-size:16px
    }
    #star-rating{
        font-size: 23px;
    }
    .short-stars{
        gap:2px;
    }

}

@media(max-width: 320px){
    #navbar a{
        margin:0 2px;
    }
    .box-title{
        font-size: 20px; 
    }

    .form-row:nth-child(2){
        display: flex;
        flex-direction: column;
        line-height: 0;
    }
    #star-rating{
        font-size: 20px;
    }
    .short-stars{
        gap:2px;
        font-size: 18px;
    }
}

