@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* PROBLEM: media queries are not working as intended, tooltip is not perfectly aligned in all scenarios */
*{
    --orange: #febda2;
    --dark-orange:#F59D78;
    --red: #e07878;

    --yellow: #FFCD91;
    --darker-gray:#5c5c5c;
    --dark-gray: #7a7a7a;
    --gray:#c1c1c19b;
    --light-gray:#e3e3e3;
    --lighter-gray:#efeeee;

    --box-color: #FAFAFA;
    --accent-green: #6AC59C;
    --accent-blue: #4DC2D8;
    --accent-orange:#FFA07A;
    --secondary-orange:#FFB899;
    --black:#333333;
}

body{
    font-family: "Inter", sans-serif;
    height:100%;
    margin:0;
    overflow: hidden;
    background-color: #eeecea;
    color:var(--black);
}

#navbar {
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:5vh;
    padding: 2vw 2vw;

    align-items: center;
    background-color: rgba(238, 236, 234, 0.85);
    backdrop-filter: blur(8px);
    z-index:100;

}
#navbar a{
    padding: .5vh 15px;
    margin: 0 .5vw;
    text-align: center;
    font-size: 22px;
    color: var(--dark-gray);
    text-decoration: none;
    
}
#navbar a:hover{
    color:var(--darker-gray);
}
#navbar a:nth-of-type(2){
    background-color: var(--accent-blue);
    border-radius: 30px;
    font-weight: 500;
    color:var(--box-color);
    box-shadow: 0 2px 5px var(--gray);
}
#big-box{
    display:flex;
    position:relative;
    width:100%;
    height:100%;
    justify-content: center;
    margin: 12vh 0;
    padding: 2vh 0;
    gap: 5vw;

}

#show-container{
    display: flex;
    justify-content: center;

    width:50%;
    height:80vh;
    border-radius: 30px;
    background-color: var(--box-color);
    box-shadow: 0 5px 10px var(--gray);
    
}
.show-box{
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding:5vh 2vw;
    margin:0;
    position:relative;

}
#show-list{
    table-layout: fixed;

    width:100%;
    font-size:18px;
    border-spacing:0;
}

.text{
    position:relative;
    width:100%;

    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.tool-tip{
    position:sticky;
    margin:-300px;
    transform: translate(50%,25%);
    width:300px;
    font-size: 14px;
    background-color: var(--lighter-gray);
    padding:10px;
    z-index:5;
    visibility: hidden;
}
.tool-tip span{
    font-weight: 700;
}
.text:hover + .tool-tip {
    visibility: visible;
}
#show-list tr{
    width:100%;
    vertical-align: center; 
}
#show-list td:first-child{
    width:30px;
    text-align: right;
    font-size: 15px;
    color:var(--gray);
}
#show-list td:nth-child(2){
    display:flex;
    width:95%;
    height:5vh;
    margin-left:.5vw;
    justify-self: center;
    align-items: center;
}

#show-list tr:hover{
    background-color: var(--lighter-gray);
}

#show-list td:first-child:hover{
    color:#e07878;
}
.fa-x{
    padding: 10px;
    cursor: pointer;
}
.stars{
    color:var(--yellow);
    font-size: 25px;
    gap: 6px;
}
.unchanging-stars{
    display: flex;
    justify-content: left;
}
.short-stars{
    display:none;
    gap:2px;
}

#right-panel{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
}

.box-container{
    display:flex;
    place-items: center;
    flex-direction: column;
}
#box1.box-container{
    justify-content: start;
}
#box2.box-container{
    justify-content: end;    
}
.right-box{
    display: flex;
    flex-direction: column;
    width: 30vw;

    font-size: 18px;

    background-color: var(--box-color);
    border-radius: 30px;

    z-index:0;
    box-shadow: 0 5px 10px var(--gray);

}

#right-box1{
    height: 40vh;
    min-height:300px;
    justify-content: center;
}
#right-box2{
    height: 30vh;
    min-height:200px;
}

form{
    margin: 5%;
}
.form-row{
    margin: 0 10%;
}
.form-row:nth-child(2){
    display:flex;
    align-items: center;
    padding: 1vh 0;
}
.form-row:first-child{
    display: flex;
}
label{
    font-size: 18px;
    font-family: "Inter", sans-serif;
}
input{
    border-width: 0 0 2px 0;
    margin-left: 10px;
    width:100%;
    color:var(--dark-gray);
}
textarea, input{
    font-size: 18px;
    font-family: inherit;

    background-color: transparent;
    border-color: var(--dark-gray);
}

textarea, input:focus{
    outline:none;
}
textarea{
    resize:none;
    width:100%;
    border-width: 2px;

    border-radius: 15px;

    padding:10px 0 10px 10px;
    margin-top: 1vh;
}
.box-title{
    color:var(--accent-orange);
    font-size: 24px;
    font-weight:500;
    padding: 5px 20px;
    margin-bottom:-20px;
    background-color: var(--box-color);
    border-radius: 30px;
    border: 3px solid var(--accent-orange);
    
    outline: none;
    z-index: 1;
    box-shadow: 0 1px 5px var(--gray);

    transition: all 1s ease;
}
#add{
    cursor:pointer;
}

button:hover{
    color:var(--accent-green);
    border-color: var(--accent-green);
}
#favorite{
    display: flex;
    justify-content: center;
    font-size: 16px;

    margin-top: 1vh;
}
#favorite button{
    padding:0;
    margin: 0 10px;
    font-weight:600;

    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: all .2s ease;
}
#favorite button:hover{
    text-decoration: underline;
    color:var(--dark-orange)
}

#review{
    display: flex;
    flex-direction: column;
}
#star-rating{
    display: flex;
    justify-content: space-evenly;
    margin: 0 5px;
    flex-direction: row-reverse;
    font-weight:900;
    color: var(--gray);

    width:100%;
    align-items: center;
}
#star-rating i:hover,i:hover ~i{
    cursor:pointer;
}
#star-rating i:active,i:active ~i{
    color: var(--yellow);
}

.fa-heart{
    color:var(--red);
    margin-left: 5px;
}

#favorite-list{
    margin:10%;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;

}
#favorite-list li{
    padding: 1vh 0;
    margin-left:0;
}
#favorite-list li:hover{
    color: var(--dark-orange);
    cursor:pointer;
}


/* ---------------------------------------------------------------------------------------------------*/
@media(max-height: 650px){
    body{
        overflow-y:auto;
    }
}
@media(max-height:560px){
    #big-box{
        margin: 20vh 0 0;
    }
}
@media(max-height:280px){
    #big-box{
        margin: 30vh 0 0;
    }
}
@media (max-width: 1230px) {
   #big-box{
        gap: 2vw;
   }
    #show-container{
        width: 60%;
    }
}
@media(max-width: 1024px){
    body{
        overflow-y: auto;
    }
    #big-box{
        margin-bottom:0;
        align-items: center;
        flex-direction: column;
        gap: 14vh;
   }
   #show-container{
        width: 80%;
   }
   #right-panel{
        gap:5vh;
   }
   .right-box{
        width: 50vw;
    }
    #right-box1{
        height: 45vh;
    }
    #star-rating{
        margin: 0 2px;
        font-size: 30px;
    }
}
@media(max-width: 768px){
    #show-container{
        width: 90%;
    }
   #show-list{
        font-size: 16px;
   }
   .right-box{
        width: 70vw;
    }
   .unchanging-stars{
        font-size: 22px;
        gap: 2px;
   }
   #star-rating{
        font-size: 25px;
    }
    @media(max-height: 620px){
        #right-box1{
            height: 60vh;
        }
        #right-box2{
            height:50vh;
        }
    }
    @media(max-height: 450px){
        #right-box1{
            height: 80vh;
        }
        #right-box2{
            height:70vh;
        }
    }
    @media(max-height: 320px){
        #right-box1{
            height: 95vh;
        }
        #right-box2{
            height:85vh;
        }
    }
}
@media(max-width: 675px){

}
@media(max-width: 535px){
    .show-box{
        padding:5vh 5vw;
    }
    .unchanging-stars{
        display: none;
    }
    .short-stars{
        display:flex;
        justify-content: right;
        font-size: 18px;
    }
}
@media(max-width: 425px){
    #navbar a{
        padding: .5vh 2vw;
        margin: 0 5px;

        font-size: 18px;
    }
    .form-row:nth-child(2){
        display:flex;
        flex-direction: column;
        line-height:0px;
    }
    label, input, textarea{
        font-size: 16px;
    }
    #favorite-list{
        font-size: 16px;
    }
}
@media(max-width: 375px){
    #navbar a{
        margin: 0 1px;
    }
    #star-rating{
        font-size: 20px;
        margin: 0 2px;
    }
}
@media(max-width: 325px){
    #navbar a{
        font-size: 16px;
    }
    #star-rating{
        margin: 0;
    }
}
