@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*ellipsis not working*/
*{
    --orange: #febda2;
    --light-orange:#fef3e9;
    --dark-orange:#F59D78;
    --light-yellow: #ffe3ba;
    --yellow: #ffd9a1;
    --dark-yellow: #fbc36e;
    --dark-gray: #a1a1a1;
    --gray:#c1c1c1;
    --light-gray:#d8d8d8;
    --lighter-gray:#F5F5F5;
}

body{
    font-family: "Inter", sans-serif;
    height:100%;
    font-size:20px;
    overflow: hidden;
}

#navbar {
    display:flex;
    position:fixed;
    margin: 2vw 2vw;
    top:0;
    left:0;
    height: 5vh;

    align-items: center;
}
#navbar a{
    padding: .5vh 1vw;
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    color: var(--dark-gray);
    text-decoration: none;
}
#navbar a:hover{
    color:#808080;
}
#navbar a:nth-of-type(3){
    background-color: var(--light-yellow);
    border-radius: 30px;
    font-weight: 500;
    color:black;

}
#big-box{
    display:flex;
    width:95vw;

    justify-content: center;
    margin: 11vh 2vw 0;
    padding: 2vh 0;
}
#smaller-box{
    display: flex;
    justify-content: center;
    height:90%;
    /* background-color: blue; */
}
#watchlist-box{
    display:flex;
    flex-direction: column;
    align-items: start;

    height:80vh;
    width:40vw;
    
    border-radius: 30px;
}
#recc-box{
    display:flex;
    flex-direction: column;
    margin:0 5vw;
    height:80vh;
    width:40vw;
    border-radius: 30px;
}
#recc-container{
    display:flex;
    justify-content: center;

    margin:2vh 2vw;
    height: 60vh;

    overflow-x: hidden;
    overflow-y: auto;
}
#recc-list{
    width:90%;
    font-size: 18px;
}
.box-title{
    text-align: center;
    font-size: 25px;
    margin-bottom:2vh;
}
#recc-generator{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    position:relative;
}
#search{
    border: var(--dark-gray) 2px solid;
    border-radius: 30px;
    background-color: var(--lighter-gray);
    
    width:100%;
    height:30px;
    font-size: 20px;

    padding: 5px 50px;
}
#search:focus{
    outline-color:var(--dark-orange);
}
.fa-magnifying-glass{
    z-index:2;
    position:absolute;
    left:0;
    padding:0 20px;
    color:var(--dark-gray);
    font-size:100%;
}
#tabs{
    margin:0;
    padding:0;

    list-style:none;

}
#tabs li{
    display: inline-block;
    align-items: start;

    text-align: center;

    width:10vw;
    padding: 10px;
    margin-bottom:0;
    
    background-color: var(--lighter-gray);
    color:var(--dark-gray);
    border-radius: 15px 15px 0 0;
}
#tabs li:hover{
    background-color: #eaeaea;
    cursor:pointer;
}

#tabs li.active{
    background-color: var(--light-orange);
    color:var(--dark-orange);
    font-weight: 500;
}

#tab-container{
    position:relative;
    height:100%;
    width:100%;

    padding-left: 3vw;
    padding-top:5vh;

    background-color: var(--light-orange);
    border-radius: 0 30px 30px;
    overflow-x:hidden;
    overflow-y: auto;
}


.checklist{
    display: none;
        
    flex-direction: column;
    align-items: start;

    width:25vw;
    justify-content: center;

    max-width:25vw;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.checklist.active{
    display: inline-block;
}

.mainCheckList{
    margin-bottom: 0;
}

#add{
    margin-top: 0;
}
.checklist li{
    margin-bottom: 2vh;
    border-radius: 20%;
    cursor:pointer;
}



.checklist li:hover{
    text-decoration: line-through;
    color: var(--dark-orange);
    cursor:pointer;
}
.add-bullet{
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: var(--dark-gray);
    color:var(--dark-gray);
    width:80%;

    font-size: 20px;
    font-family: "Inter", sans-serif;
}
.add-bullet:focus{
    outline: none;
}

.waves{
    position:absolute;
    top:0;
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/layered-waves-recc.svg');

    z-index:-1;
}