@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*ellipsis not working*/
*{
    --orange: #febda2;
    --light-orange:#fef3e9;
    --dark-orange:#F59D78;
    --light-yellow: #ffe3ba;
    --yellow: #ffd9a1;
    --dark-yellow: #fbc36e;
    --dark-gray: #a1a1a1;
    --gray:#c1c1c1;
    --light-gray:#d8d8d8;
}

body{
    font-family: "Inter", sans-serif;
    height:100%;
    font-size:20px;
    overflow: hidden;
}

#navbar {
    display:flex;
    position:fixed;
    margin: 2vw 2vw;
    top:0;
    left:0;
    height: 5vh;

    align-items: center;
}
#navbar a{
    padding: .5vh 1vw;
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    color: var(--dark-gray);
    text-decoration: none;
}
#navbar a:hover{
    color:black;
}
#navbar a:nth-of-type(3){
    background-color: var(--yellow);
    border-radius: 30px;
    font-weight: 500;
    color:black;

}
#big-box{
    display:flex;
    width:95vw;

    justify-content: center;
    margin: 11vh 2vw 0;
    padding: 2vh 0;
}
#smaller-box{
    display: flex;
    justify-content: center;
    height:90%;
}
#watchlist-box{
    display:flex;
    align-items: end;
    position:relative;

    height:80vh;
    width:40vw;
    
    border-radius: 30px;
}
#recc-box{
    margin:0 5vw;
    width:40vw;
    border-radius: 30px;
}
#recc-container{
    display:flex;
    justify-content: center;
    width:90%;
    height:100%;
    
    margin-top:-40px;
    border-radius: 30px;
}
#recc-generator{
    display:flex;
    justify-content: center;
    margin: 5vw 0;
    width:90%;
}
#search{
    border: #AFAFAF 2px solid;
    border-radius: 30px;
    background-color: #F5F5F5;
    
    width:100%;
    height:30px;
    font-size: 20px;

    padding: 5px 15px;
    
}
#search:focus{
    outline:none;
}

.tab{
    position:absolute;
    top:0;
    align-items:start;

    text-align: center;
    color:black;

    height: 100px;
    width:180px;

    padding:15px 0;
    
    background-color: var(--light-orange);
    border-radius: 30px;
}
#to-watch{
    left:0;

}
#in-prog{
    left:180px;
    background-color: lightgray;

}
#checkbox-container{
    position:relative;
    height:90%;
    width:100%;

    background-color: var(--light-orange);
    border-radius: 30px;
    overflow-x: hidden;
    z-index:2;
}
#check-box {
    display: flex;
    height:100%;
    
    flex-direction: column;
    align-items: center;
    
    border-radius: 30px;
    overflow-x: hidden;
}
#checkbox-container::before{
    position:absolute;
    top:0;
    width:100%;
    height:5vh;
    background:linear-gradient(to bottom, var(--light-orange) 60%, transparent);
    content:" ";
}
#checkbox-container::after{
    position:absolute;
    bottom:0;
    width:100%;
    height:5vh;
    background:linear-gradient(to top, var(--light-orange) 60%, transparent);
    content:" ";
}
.checklist{
    display:inline-block;
    width:25vw;
    justify-content: center;
    margin: 5vh 0;

    max-width:25vw;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#mainCheckList{
    margin-bottom: 0;
}
#add{
    margin-top: 0;
}
li{
    margin-bottom: 2vh;
    border-radius: 20%;
    cursor:pointer;
}

li:hover{
    text-decoration: line-through;
    color: var(--dark-orange);
    cursor:pointer;
}
#add-bullet{
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: #AFAFAF;
    color:#AFAFAF;
    width:80%;

    font-size: 20px;
    font-family: "Inter", sans-serif;
}
#add-bullet:focus{
    outline: none;
}

.waves{
    position:absolute;
    top:0;
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/layered-waves-recc.svg');

    z-index:-1;
}