@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*ellipsis not working*/
*{
    --orange: #febda2;
    --light-orange:#fef3e9;
    --dark-orange:#F59D78;
    --red: #e07878;

    --light-yellow: #ffe3ba;
    --yellow: #ffd9a1;
    --dark-yellow: #fbc36e;
    --darker-gray:#5c5c5c;
    --dark-gray: #7a7a7a;
    --gray:#c1c1c19b;
    --light-gray:#e3e3e3;
    --lighter-gray:#F5F5F5;

    --box-color: #FAFAFA;
    --accent-blue: #4DC2D8;
    --accent-green: #6AC59C;
    --accent-orange:#FFA07A;
    --black:#333333;
}

body{
    font-family: "Inter", sans-serif;
    height:100%;
    font-size:18px;
    margin: 0;
    overflow: hidden;
    background-color: #eeecea;
    color:var(--black);
    flex-shrink: 1 0;
}

#navbar {
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 5vh;
    padding: 2vw 2vw;

    align-items: center;
    background-color: rgba(238, 236, 234, 0.85);
    backdrop-filter: blur(8px);
    z-index:100;
}
#navbar a{
    padding: .5vh 1vw;
    margin: 0 10px;
    text-align: center;
    font-size: 22px;
    color: var(--dark-gray);
    text-decoration: none;
}
#navbar a:hover{
    color:var(--darker-gray);
}
#navbar a:nth-of-type(3){
    background-color: var(--accent-blue);
    border-radius: 30px;
    font-weight: 500;
    color:var(--box-color);
    box-shadow: 0 2px 5px var(--gray);
}
#big-box{
    display:flex;
    position:relative;
    width:100%;
    justify-content: center;
    margin: 12vh 0;
    padding: 2vh 0;

    gap: 5vw;
}

#watchlist-box{
    display:flex;
    flex-direction: column;
    width:35%;
    border-radius: 30px;
}

.fa-xmark{
    margin-left:5px;
    cursor:pointer;

    color:var(--lighter-gray);
}
.fa-xmark:hover{
    color:var(--red);
}

#right-panel{
    display:flex;
    flex-direction: column;
    width:45%;
    gap:5vh;
    justify-content: space-between;
}
.right-container{
    display:flex;
    flex-direction: column; 
}
.right-box{
    border-radius: 0 30px 30px;
    background-color: var(--box-color);
    padding:20px;

    height:100%;
    overflow-y: hidden;
    overflow-x: auto;
    gap:20px;

    display:grid;
    grid-auto-flow: column;

    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 20px;

    box-shadow: 0 5px 10px var(--gray);
}
.right-tab{
    font-size:20px;
    text-align: center;
    padding: 10px;
    margin-bottom:-3px;
    
    color:var(--dark-gray);
    border-radius: 20px 20px 0 0;
    border-width: 3px 3px 0;
    background-color: var(--box-color);
}
#prog-tab{
    width:30%;
}
#prog-container{ 
    height:330px;
    text-align: left;    
}

#prog-box{
    grid-auto-columns: 150px;
    grid-auto-rows:90%;
}

.prog-widget{
    display:flex;

    flex-direction: column;   
    
    background-color: #e3ebed;

    border-radius: 15px;
    width:90%;
    height:90%;
    
    margin: auto 0;
    padding: 10px 10px 35px;

    font-weight: bold;
    font-size: 18px;
    color:var(--darker-gray);

    scroll-snap-align:start;
    box-shadow: inset 0 5px 10px #bac7cb;

}

.prog-widget img{
    place-self: center;
    inline-size:100%;
    aspect-ratio: 3/4;
    object-fit:cover;
}

.prog-title{
    margin-top:5px;
    height:100%;
}
#vid-tab{
    width:15%;
}
#vid-container{
    height:250px;
}
#vid-box{
    display:flex;
    align-items: center;
}
.vid{
    inline-size: 300px;
    aspect-ratio:16/9;
    border-radius:15px;
    margin: auto 0;
    scroll-snap-align:start;
    box-shadow: inset 0 5px 10px var(--gray);
}

#tabs{
    margin:0;
    padding:0;

    list-style:none;

}
#tabs li{
    display: inline-block;
    align-items: start;
    text-align: center;

    padding: 10px 30px;
    margin-bottom:0;
    font-size:20px;
    
    background-color: #F5F5F5;
    color:var(--dark-gray);
    border-radius: 15px 15px 0 0;
    box-shadow: 0 5px 5px var(--gray);
}

#tabs li:hover{
    background-color: #f5f5f5bf;
    cursor:pointer;
}

#tabs li.active{
    background-color: var(--box-color);
    color:var(--accent-orange);
    font-weight: 500;
    box-shadow: 0 5px 10px var(--gray);
}

#tab-container{
    display:flex;

    position:relative;
    height:100%;
    width:100%;
    padding-top:2vh;

    background-color: var(--box-color);
    border-radius: 0 30px 30px;
    overflow-x:hidden;
    overflow-y: auto;
    box-shadow: 0 5px 10px var(--gray);

}
.tags{
    display:flex;
    align-items: center;
    list-style: none;
    color:white;
    font-size: 12px;
    text-align: center;
}

.tags.draft{
    display:flex;
    margin:0;
    width:200px;
    /* border: 2px solid var(--dark-orange); */
}
.tags span{
    display:flex;
    align-items: center;
    text-wrap:nowrap;
    justify-content: center;
    padding:2px 10px;
    margin-right:5px;
    border-radius: 30px;
}

.add-bullet{
    margin-right:5px;
    width:200px;
}
#add-url{
    width:150px;
}
.ytURL{
    display:none;
}
.right-div{
    margin:0;
    appearance:none;
    position:absolute;
    right:0;
    border: 2px solid;
    border-radius: 5px;
}
.post-checkbox{
    width:20px;
    height:20px;
}
.post-checkbox::after{
    font-family: "Font Awesome 5 Free";
    content:"\f00c";
    font-weight: 900;
    display:block; 
    color:rgb(83, 188, 135);
}
.add-check{
    width:50px;
    height:30px;
    background-color: var(--accent-blue);
    border-color:var(--accent-blue);
    cursor:pointer;
    box-shadow: 0 2px 5px var(--gray);
    transition: all .5s;
}
.add-check::after{
    text-align: center;
    font-size:20px;
    font-family: 'Font Awesome 5 Free';
    content:"\f0d8";
    color:white;
    font-weight:900;
}
.add-check:hover{
    border-color:var(--accent-green);
    background-color: var(--accent-green) ;
}

#add-tags{
    border:none;
    font-size:14px;
    width:120px;
    visibility:visible;
}
#add-tags.hidden{
    visibility:hidden;
}
.add{
    display:flex;
    width:95%;
    margin-top: 0;
}
#add-to-watch{
    display:flex;
}

input[type = 'file']{
    display:none;
}

#img-upload{
    width:100px;
    border: 2px solid var(--accent-orange);
    text-align: center;
    padding:0 5px;
    cursor:pointer;
    border-radius:10px;
    color:var(--accent-orange);
    position:relative;
}
#img-upload.active{
    background-color: var(--accent-orange);
    color:var(--box-color)
}
#tooltip{
    display:inline-block;
    overflow-wrap: break-word;
    width: 150px;
    background-color: rgba(129, 129, 129, 0.85);
    font-size: 14px;
    color:var(--lighter-gray);
    text-align: center;
    border-radius: 6px;
    padding: 2px 5px;
    margin-top:5px;
    transform:translate(-80%, 100%);
    /* left:-20px;
    bottom:-40px; */
    position:absolute;
    z-index: 2;
    visibility: hidden;

}
#tooltip::before{
    content:attr(data-img);
}
#tooltip::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(122, 122, 122, 0.85) transparent;
}
#img-upload:hover #tooltip {
    visibility: visible;
}
.sports{
    background-color:#FEA377;
}
.action{
    background-color:#F88484;
}
.shonen{
    background-color:#57BBF4;
}
.fantasy{
    background-color:#7FD4D4;
}
.romance{
    background-color:#EC687F;
}
.isekai{
    background-color:#6CAA94;
}
.mystery{
    background-color: #8C7BF2;
}
.shoujo{
    background-color: #FBA7D4;
}
.sci-fi{
    background-color:#7FD271;
}
.comedy{
    background-color:#F6CA74 ;
}
.slice-of-life{
    background-color: #5D8DEB;
}
.checklist{
    display: none;
        
    flex-direction: column;
    width:100%;
}

.checklist.active{
    display: flex;
    align-items: center;
}

.mainCheckList{
    margin-bottom: 0;
    width:95%;

    overflow:hidden;
    overflow-wrap: break-word;
}
.checklist li{
    display:flex;
    position:relative;
    margin-bottom: 20px;
    width:90%;
}
.title{
    cursor:pointer;
    margin-right: 15px;
}

.title:hover{
    text-decoration: line-through;
    color: var(--dark-orange);
    cursor:pointer;
    
}

input{
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: var(--dark-gray);
    color:var(--dark-gray);

    font-size: 18px;
    font-family: "Inter", sans-serif;
}

input:focus{
    outline: none;
}
/*---------------------------------------------------------------------------------*/

@media(max-height:600px){
    body{
        overflow-y:auto;
    }
    #big-box{
        margin:15vh 0;
    }
}
@media(max-height:400px){
    #big-box{
        margin:20vh 0;
    }
}
@media(max-height:300px){
    #big-box{
        margin:25vh 0;
    }
}

@media (max-width: 1320px){
    #watchlist-box{
        width:40%;
    }
    #tabs li{
        padding: 10px 20px;
    }
}
@media(min-width:1450px){
    #big-box{
        margin: 15vh 0;
        background-color: blue;
    }
}    
@media (max-width:1200px){
    #prog-tab{
        width:50%;
    }
    #vid-tab{
        width:30%;
    }
    form{
        display:flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }
    .add-bullet{
        width:250px;
    }
    #add-url{
        width:250px;
    }
}
@media(max-width: 1024px){
    #big-box{
        gap:2vw;
    }
    #watchlist-box{
        width: 55%;
    }
    #right-panel{
        width:35%;
    }

    #prog-tab{
        width:60%;
    }


}
@media(max-width:768px){
    body{
        font-size:16px;
        overflow-y:auto;
    }
    #big-box{
        flex-direction: column;
        align-items: center;
        gap: 12vh;
        margin-bottom:0;
    }
    #watchlist-box{
        width:80%
    } 
    #tabs li{
        font-size:16px;
    }
    .tags{
        font-size: 14px;
    }
    input{
        font-size: 16px;
    }
    .add-bullet{
        width:250px;
    }
    #add-url{
        width:250px;
    }

    #right-panel{
        width: 80%;
    }
    .right-tab{
        font-size:16px;
    }
    #prog-tab{
        width:40%;
    }
}
@media(max-width: 500px){
    #watchlist-box{
        width:90%;
    }
    #right-panel{
        width:90%;
    }
}
@media(max-width: 450px){
    #navbar a{
        padding: .5vh 2vw;
        margin: 0 5px;
        font-size: 18px;
    }
    #prog-tab{
        width:70%;
    }
    #tabs li{
        padding: 5px 15px;
        font-size:18px;
    }
    .add-bullet{
        width:200px;
    }
    .add-check{
        width:50px;
    }
    #add-url{
        width:200px;
    }

}
@media(max-width:375px){
    #navbar a{
        margin: 0 1px;
    }
    body{
        font-size: 16px;
    }
    #tabs li{
        padding: 5px 10px;
        font-size:16px;
    }  
    input{
        font-size:16px;
    }
    .add-bullet{
        width:200px;
    }
    .add{
        padding-left:20px;
    }
    #add-url{
        width:150px;
    }
    .mainCheckList{
        padding-left:20px;
        list-style-position: inside;
    }
    #add-to-watch{
        display:flex;
        flex-direction: column;
    }
    .tags{
        font-size: 11px;
    }
    .tags span{

        padding:2px 10px;
        margin-right:3px;
    }
    
}
@media(max-width:325px){
    #navbar a{
        font-size: 16px;
    }
    .add-bullet{
        width:180px;
    }
    #tabs{
        display:flex;
        justify-content: space-between;
    }  
    #tab-container{
        border-radius: 0 0 30px 30px;
    }
}